{
    "data": {
        "elevation": 0,
        "external_url": null,
        "internal_url": null,
        "latitude": 53.5866,
        "location_name": "Perry",
        "longitude": -2.4354,
        "time_zone": "Europe/London",
        "unit_system": "metric"
    },
    "key": "core.config",
    "version": 1
}